# Lab 6 - Getting Data

The topics of week 6 is getting data with web scraping. 

In this lab notebook you will gain experience webscraping data of various forms.

We will be looking at various websites and using them to get information (these sites are selected because of their public informative nature).

## Lab Setup

In [48]:
# Uncomment and run first run on cloud resources. 
!pip install html5lib lxml

Requirement already satisfied: html5lib in /opt/conda/lib/python3.10/site-packages (1.1)
Requirement already satisfied: lxml in /opt/conda/lib/python3.10/site-packages (5.3.0)
Requirement already satisfied: six>=1.9 in /opt/conda/lib/python3.10/site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in /opt/conda/lib/python3.10/site-packages (from html5lib) (0.5.1)

In [49]:
from bs4 import BeautifulSoup
import requests 
import pandas as pd
import numpy as np
import re

import otter
grader = otter.Notebook()

## Exercise 1 

Identify the name of the data set most relevant to 'climate' on https://www.data.gov 

You will want to use the **url = https://catalog.data.gov/dataset?q=climate&sort=score+desc%2C+name+asc**.

Then, you will use BeautifulSoup to parse the website to find the name of the data set.

In [50]:
# Identify the name of the data set most relevant to "climate" on data.gov
# Use BeautifulSoup to parse the website to find the name of the data set. 
url = 'https://catalog.data.gov/dataset?q=climate&sort=score+desc%2C+name+asc'
resp_q1 = requests.get(url) 
soup_q1 = BeautifulSoup(requests.get(url).text)

name = soup_q1.find_all('h3','dataset-heading')[0].find('a').text
name

'Downscaled Climate Model Climate Toolbox'

In [51]:
grader.check("q1")

q1 results: All test cases passed!

## Exercise 2

Identify the most viewed data set on Michigan state's open data portal.   
https://data.michigan.gov/browse?sortBy=most_accessed

Stores its name in the provided "most_viewed_data_nm" variable and the number of views in "num_views".

Note, you only have to consider those items listed on the current page of the website, you do not have to cycle through all entries.

In [52]:
url='https://data.michigan.gov/browse?sortBy=most_accessed'
soup=BeautifulSoup(requests.get(url).text)
most_viewed_data_nm = soup.find_all('h2','browse2-result-name')[0].find('a').text
num_views = int(soup.find_all('div','browse2-result-view-count-value')[0].text.replace(',','').strip("\n  " " "))


print("Most visited data: %s  with %d views" % (most_viewed_data_nm, num_views))

Most visited data: MI_Congress_Plot  with 81601 views

In [53]:
grader.check("q2")

q2 results: All test cases passed!

## Exercise 3

Travel advisories are given by the US government to international travelers. 

Data available at: https://travel.state.gov/content/travel/en/traveladvisories/traveladvisories.html/


You will be asked to sum the number of travel advisories by level. 

Here we get the HTML from the site, you can use this in each of the sub-questions below.

In [54]:
site = requests.get('https://travel.state.gov/content/travel/en/traveladvisories/traveladvisories.html/').text
q3 = BeautifulSoup(site, 'html5lib')

### Exercise 3a 

Create a solution for this question using the pandas `read_html` function.

In [55]:
# Exercise 3a
# Read in the table using pandas "read_html" function, store DataFrame in q3a_df 
# Report out number of each warnings 

...
q3a_df = pd.read_html(q3.prettify(),flavor = ['bs4'])[0]

l1Num1 = int(q3a_df['Level'].value_counts()[0])
l2Num1 = int(q3a_df['Level'].value_counts()[1])
l3Num1 = int(q3a_df['Level'].value_counts()[2])
l4Num1 = int(q3a_df['Level'].value_counts()[3])


print("Number of travel Level 1 warnings : " +  str(l1Num1)) 
print("Number of travel Level 2 warnings : " +  str(l2Num1))
print("Number of travel Level 3 warnings : " +  str(l3Num1))
print("Number of travel Level 4 warnings : " +  str(l4Num1))

Number of travel Level 1 warnings : 88
Number of travel Level 2 warnings : 75
Number of travel Level 3 warnings : 25
Number of travel Level 4 warnings : 20

In [56]:
grader.check("q3a")

q3a results: All test cases passed!

### Exericse 3b 

Create an another solution just using beautiful soup, regular expressions, and other Python functions to scrape the table.

In [57]:
# Exercise 3b
# Write another solution just using beautiful soup, regex, and other Python functions to 
#   scrape the table information
# Report out number of each warnings 

advisories = q3('tr')

l1Num2 = len(re.findall('Level 1: Exercise Normal Precautions',str(advisories)))
l2Num2 = len(re.findall('Level 2: Exercise Increased Caution',str(advisories)))
l3Num2 = len(re.findall('Level 3: Reconsider Travel',str(advisories)))
l4Num2 = len(re.findall('Level 4: Do Not Travel',str(advisories)))


print("Number of travel Level 1 warnings : " +  str(l1Num2)) 
print("Number of travel Level 2 warnings : " +  str(l2Num2))
print("Number of travel Level 3 warnings : " +  str(l3Num2))
print("Number of travel Level 4 warnings : " +  str(l4Num2))

Number of travel Level 1 warnings : 88
Number of travel Level 2 warnings : 75
Number of travel Level 3 warnings : 25
Number of travel Level 4 warnings : 20

In [58]:
grader.check("q3b")

q3b results: All test cases passed!

### Exercise 3c

Using the DataFrame `q3a_df` from part (a), use the `to_datetime` function to add a new `Date` column with the `Date Updated` converted to a datetime object. 

https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html

Using this new column determine the following: 

* `q3c_df_yr2023` a DataFrame with only those travel advisories updated during 2023. 
* `q3c_df_aug` a DataFrame with only those travel advisories updated in August (any year).
* `q3c_df_tues` a DataFrame with only those travel advisories updated on a Tuesday. 
* `oldest_adv` a string with the oldest travel advisory.

In [66]:
# Exercise 3c 
# Copy the q3a_df DataFrame to q3c_df. 
# Add a 'Date' column 
# Answer several questions 

q3c_df = q3a_df.copy()
q3c_df['Date']=pd.to_datetime(q3c_df['Date Updated'])

q3c_df_yr2023 = q3c_df[q3c_df['Date'].dt.year==2023]

q3c_df_aug = q3c_df[q3c_df['Date'].dt.month==8] 

q3c_df_tues = q3c_df[q3c_df['Date'].dt.weekday==1]

oldest_adv = q3c_df.sort_values('Date').iloc[0]

In [67]:
q3c_df_yr2023

,Advisory,Level,Date Updated,Date
0,Liechtenstein Travel Advisory,Level 1: Exercise Normal Precautions,"July 26, 2023",2023-07-26
1,North Macedonia Travel Advisory,Level 1: Exercise Normal Precautions,"July 26, 2023",2023-07-26
2,Nauru Travel Advisory,Level 1: Exercise Normal Precautions,"July 24, 2023",2023-07-24
7,Albania Travel Advisory,Level 2: Exercise Increased Caution,"July 26, 2023",2023-07-26
9,Andorra Travel Advisory,Level 1: Exercise Normal Precautions,"July 26, 2023",2023-07-26
...,...,...,...,...
201,Ethiopia Travel Advisory,Level 3: Reconsider Travel,"July 31, 2023",2023-07-31
202,Gabon Travel Advisory,Level 2: Exercise Increased Caution,"September 28, 2023",2023-09-28
203,The Gambia Travel Advisory,Level 2: Exercise Increased Caution,"July 31, 2023",2023-07-31
204,Georgia Travel Advisory,Level 1: Exercise Normal Precautions,"July 26, 2023",2023-07-26
205,Ghana Travel Advisory,Level 2: Exercise Increased Caution,"November 20, 2023",2023-11-20

In [68]:
grader.check("q3c")

q3c results:
    q3c - 1 result:
        ❌ Test case failed
        Trying:
            q3c_df_yr2023.shape == (99, 4)
        Expecting:
            True
        **********************************************************************
        Line 1, in q3c 0
        Failed example:
            q3c_df_yr2023.shape == (99, 4)
        Expected:
            True
        Got:
            False

    q3c - 2 result:
        ✅ Test case passed

    q3c - 3 result:
        ✅ Test case passed

    q3c - 4 result:
        ✅ Test case passed

    q3c - 5 result:
        ✅ Test case passed

    q3c - 6 result:
        ✅ Test case passed

##  Exercise 4

We want to create a function `make_faculty_df(site)` which takes in a MTU department's faculty listing, e.g., [CS faculty listing](https://www.mtu.edu/cs/department/people/) and which returns a DataFrame with information on each of the faculty members.  

We will define several helper functions to aid in this: 

* `process_bio(div)` which takes in a `<div>` tree corresponding to a single faculty bio and returns a dictionary of information on that faculty member: `Name`, `Title`, `Email`, `Office` 

* `process_page(divs)` which takes in a list of `<div>` trees corresponding to the faculty page and returns a DataFrame with all of the relevant faculty information. 

Use regular expressions and string operations to clean up the text returned, e.g., 

* remove extra white space 
* clean up titles so you only use options such as: "Professor", "Associate Professor", "Assistant Professor", "Teaching Professor", "Associate Teaching Professor", "Assistant Teaching Professor", "Research Assistant Professor", "Senior Research Scientist", "Professor Emeritus", "Adjunct Professor", "Adjunct Associate Professor", "Adjunct Assistant Professor"
    * pay attention to the white space adn remove extra blank spaces 
    * Note, you should not perform this operation with a giant if-elsif or switch statement. Use regular expressions to help with this code. 
* For office locations, remove the word "Hall" from the locations. 

If any information is missing, then use `NaN` in the DataFrame. 

Your responses should not be hard coded to the CS faculty webpage, I may test your code on another department's faculty webpage. 

Remove duplicate listings, e.g., Dr. Wang is listed at top given his role as chair of the department and also appears in the main program faculty listing.

In [17]:
def process_bio(div): 
    # Input: a <div> tree of a single faculty bio 
    # Return: a dict of information on that faculty member: Name, Title, Email, Office 
    Name = div('div','name-and-pronouns')[0].text.strip()
    title = re.search(r'([^,]+),?',div('ul','none')[0].text.strip()).group(0).replace(',','')
    email = div('li','email-address')[0].text.strip()
    if div('li','place'):
        office = div('li','place')[0].text.strip().replace('Hall ','')
    else:
        office = 'NaN'
    return {'Name':Name,'Title':title,'Email':email,'Office':office}

def process_page(divs): 
    faculty = list()
    for person in divs:
        person = process_bio(person)
        faculty.append(person)
    faculty = pd.DataFrame(faculty).drop_duplicates()
    return faculty

def make_faculty_df(site):



    # Download page and create BeautifulSoup object of the response
    page = requests.get(site).text
    soup_q4 = BeautifulSoup(page, 'html5lib')
    # Create DataFrame using information on the page and requested helper functions
    faculty_info = process_page(soup_q4('div','person'))

    
    return faculty_info

url = 'https://www.mtu.edu/cs/department/people/'
q4_df = make_faculty_df(url)
q4_df

,Name,Title,Email,Office
0,Zhenlin Wang,Professor and Chair,zlwang@mtu.edu,Rekhi 207
1,Koloud Al Khamaiseh,Assistant Teaching Professor,kalkhama@mtu.edu,Rekhi 310
2,Serein Al-Ratrout,Assistant Teaching Professor,salratro@mtu.edu,Rekhi 104
3,Gorkem Asilioglu,Associate Teaching Professor,galolu@mtu.edu,Rekhi 308
4,Briana Bettin,Assistant Professor,bcbettin@mtu.edu,Rekhi 202
5,Laura E. Brown,Associate Professor,lebrown@mtu.edu,Rekhi 307
6,Bo Chen,Associate Professor,bchen@mtu.edu,Rekhi 301
7,Ali Ebnenasir,Associate Professor,aebnenas@mtu.edu,Rekhi 206
8,Dylan Gaines(he/him),Research Assistant Professor,dcgaines@mtu.edu,Rekhi 312
9,Timothy C. Havens(he/him),Director,thavens@mtu.edu,GLRC 307
10,Scott A. Kuhl,Associate Professor,kuhl@mtu.edu,Rekhi 210
11,Xinyu Lei,Assistant Professor,xinyulei@mtu.edu,Rekhi 306
12,Jean Mayo,Professor,jmayo@mtu.edu,Rekhi 304
13,Yakov Nekrich,Associate Professor,yakov@mtu.edu,Rekhi 311
14,Nilufer Onder,Associate Professor,nilufer@mtu.edu,Rekhi 309
15,Soner Onder,Professor,soner@mtu.edu,Rekhi 303
16,Stella Otoo,Assistant Teaching Professor,sotoo@mtu.edu,Rekhi 102
17,Linda Ott,Professor,linda@mtu.edu,Rekhi 211
18,Robert Pastel,Associate Professor,pastel@mtu.edu,Rekhi 204
19,Scott Pomerville,Research Assistant Professor,skpomerv@mtu.edu,Rekhi 111
20,Sujan Kumar Roy,Assistant Teaching Professor,sroy5@mtu.edu,Rekhi 305
21,Leo C. Ureel II,Assistant Professor,ureel@mtu.edu,Rekhi 209
22,Keith Vertanen,Dave House Associate Professor,vertanen@mtu.edu,Rekhi 208
23,Michael Walker,Assistant Professor,miwalker@mtu.edu,NaN
24,Charles Wallace,Professor,wallace@mtu.edu,Rekhi 205
26,Jianhui Yue,Assistant Professor,jyue@mtu.edu,Rekhi 203
27,Ruihong Zhang,Associate Teaching Professor,ruihong@mtu.edu,Rekhi 302
28,Hongyu An,Assistant Professor,hongyua@mtu.edu,EERC 710
29,Julia Hiebel,Adjunct Assistant Professor,jshiebel@mtu.edu,NaN
30,Myounghoon 'Philart' Jeon,Adjunct Associate Professor,myounghoonjeon@vt.edu,NaN
31,Jingfeng Jiang,Professor,jjiang1@mtu.edu,H-STEM 336
32,Dukka B KC,Adjunct Professor,dbkc@mtu.edu,NaN
33,Joel LeBlanc,Deputy Director,jwleblan@mtu.edu,"Ann Arbor, Michigan"
34,Shane T. Mueller,Professor of Psychology,shanem@mtu.edu,Meese Center 203
35,David Poplawski,Professor Emeritus,pop@mtu.edu,NaN
36,Ching-Kuang Shene,Professor Emeritus,shene@mtu.edu,NaN
37,Kelly S. Steelman,Department Chair and Associate Professor,steelman@mtu.edu,Meese Center 107
38,Elizabeth Veinott,Associate Professor,eveinott@mtu.edu,Meese Center 204
39,Hairong Wei,ProfessorEditor-in-Chief,hairong@mtu.edu,Noblet Building 176
40,Xiaoyong (Brian) Yuan,Adjunct Assistant Professor,xyyuan@mtu.edu,NaN
41,Kuilin Zhang,Associate Professor,klzhang@mtu.edu,Dillman 301i
42,Weihua Zhou,Assistant Professor,whzhou@mtu.edu,Rekhi 109

In [18]:
grader.check("q4")

q4 results: All test cases passed!

## Congratulations! You have finished Lab6! 

### Submission Instructions

Below, you will see a cell. Running this cell will automatically generate a zip file with your autograded answers. Once you submit this file to the Lab 6 assignment on Gradescope. 


<div class="alert alert-warning">
<strong>Warning!</strong> 
    This lab notebook will be graded a bit differently.  The `requests` module does not run properly on Gradescope.  Normally, when you upload your submission to Gradescope, it runs your code and reports the results on the test cases.  
</div>

For this assignment, the results and variables you create in your notebook will be saved out to a log file `.OTTER_LOG`.  This file will be included in your zip, when you run the export function below. 



Make sure you have run all cells in your notebook **in order** before running the cell below, so that all information gets saved to the log file correctly. The cell below will generate a zip file for you to submit. **Please save before exporting!**

If you run the notebook repeatedly, more and more information gets added to the `.OTTER_LOG` file. 

<div class="alert alert-warning">
<strong>Warning! - Clean log file</strong>     
    Before running your last single run through the notebook, clear all clear, restart the kernel, delete the `.OTTER_LOG` so that a fresh one is created. 
</div>

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export(pdf=False)